html, body { height: 100%; }

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

/* Text Styles, Colors, Backgrounds */

.pt-page h1 {
	position: absolute;
	color:#fff;
	font-weight: 250em;
	font-size: 4.4em;
	line-height: 1;
	letter-spacing: 10px;
	margin: 0;
	top: 12%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	word-spacing: -0.05em;
}

 h5 {
	position: absolute;
	color:black;
	font-weight: 250em;
	font-size: 4.4em;
	line-height: 1;
	letter-spacing: 10px;
	margin: 0;
	top: 12%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	word-spacing: -0.05em;
}

.pt-page h1 span {
	font-family: 'Satisfy', serif;
	font-weight: 700;
	font-size: 60%;
	text-transform: none;
	word-spacing: 0;
	letter-spacing: 0;
	display: block;
	opacity: 0.4;
}
.pt-page h5 span {
	font-family: 'Satisfy', serif;
	font-weight: 700;
	font-size: 60%;
	text-transform: none;
	word-spacing: 0;
	letter-spacing: 0;
	display: block;
	opacity: 0.4;
}


.pt-page{
	background-image: url("../img/dark.png");
}

.pt-page h1 strong {
	color: #2590a7;
}
h5 strong{
	color: #2590a7;
	font-size:100	px;
}

.pt-page-1 {
	
	background-image: url("../img/cream_pixels.png");
}

.pt-page-2 {
	background-image: url("../img/dark.png");
}

.pt-page-3 {
	background-image: url("../img/dark.png");
}

.pt-page-4 {
	background-image: url("../img/dark.png");
}

.pt-page-5 {
	background-image: url("../img/dark.png");
}

.pt-page-6 {
	background-image: url("../img/dark.png");
}

.pt-page-8 {
	background-image: url("../img/dark.png");
}
/* Triggers (menu and button) */

.pt-triggers {
	position: absolute;
	color:black;
	width: 200px;
	z-index: 999999;
	top: 12%;
	left: 50%;
	margin-top:500px;
	padding-left: 600px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%); 
	transform: translateX(-50%);
}

.no-js .pt-triggers {
	display: none;
}

.pt-triggers .dl-menuwrapper button,
.pt-touch-button {
	padding-left:200px;
	border: none;
	font-size: 13px;
	color:white;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 20px;
	padding: 0px 20px;
	line-height: 50px;
	height: 50px;
	letter-spacing: 1px;
	width: 100%;
	display: block;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pt-touch-button {
	background: black;
	color: white;
}

.pt-triggers .dl-menuwrapper button {
	margin-bottom: 200px;
}

.pt-touch-button:active {
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	padding-left: 200px;
}

.touch .pt-triggers .dl-menuwrapper {
	display: none;
}

.pt-message {
	display: none;
	position: absolute;
	z-index: 99999;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #da475c;
	color: black;
	text-align: center;
}

.pt-message p { 
	margin: 0;
	line-height: 60px;
	font-size: 26px;
}

.no-cssanimations .pt-message {
	display: block;
}

p{
	text-align:center;
	margin-top:290px;
	margin-left:50px;
	color:white;
	font-size: 18px;


}

#desarollo{
	margin-top:235px;
	font-size:10px;
}

#foto{
	margin-left: 190px;
    margin-top: 268px;
	width:50%;

}
#foto1{
	margin-top: 50px;
	align:center;

}

#foto2{
	margin-top:86px;
	margin-left:500px;

}

#fotoeco{
	    margin-top: 0%;
	    margin-left: 3%;


}


@media screen and (max-width: 47.4375em) {
	.pt-page h1 {
		font-size: 3em;
	}

	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}

@media screen and (max-height: 45.9em) {
	.pt-triggers .dl-menuwrapper li a {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.pt-triggers .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
		line-height: 24px;
	}
}

@media screen and (max-height: 38em) { 
	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}
