/*---------------------------------------------------------------------------------

Stylesheet

	Template:	 Estilos_CSS
	Author:		 Pedro Cortina Bernal
    Designed By: Pedro Cortina Bernal
	Version:	1.0	

---------------------------------------------------------------------------------*/

.subtitle{
	text-align:center;
	padding:0
}

.mylist li{
	list-style:decimal;
	text-align: left
}

div h3{
	text-align: left;
	padding-left: 3.5em;
	margin-top: 1em
}

.big5 {
	font-size: 5vw
}

.elm_der {
	text-align: right
}

.elm_izq {
	text-align: left
}

.separador1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    width: 100%;	
	text-align: center
}

.separador2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1.5px;
    width: 75%;	
	text-align: center
}

.anio  {
	margin-top: 1em
}

.tabla_p1{
	margin-top: 0.5em;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: 130%
}

.top-space{
	margin-top: 2em
}

.top-space2{
	margin-top: 8em
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
	margin-top: 2em;
	z-index: 2
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*############ Carousel Partner Style ##########*/

.container1{
	margin: 4% auto;
	width: 300px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel1{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear
	
}
#carousel1:hover{
	
}
#carousel1 figure{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 10px;
	top: 10px;
	background: transparent;
	overflow: hidden;
	text-align: center	
}
#carousel1 figure:hover{
}

#carousel1 figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel1 figure:nth-child(2) { transform: rotateY(60deg) translateZ(288px);}
#carousel1 figure:nth-child(3) { transform: rotateY(120deg) translateZ(288px);}
#carousel1 figure:nth-child(4) { transform: rotateY(180deg) translateZ(288px);}
#carousel1 figure:nth-child(5) { transform: rotateY(240deg) translateZ(288px);}
#carousel1 figure:nth-child(6) { transform: rotateY(300deg) translateZ(288px);}

.partners1{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all 0.5s ease;
	padding-top: 1em	
}
.partners1:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
  animation-play-state: paused;
  background: #2590a7
  
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

/*##############################################*/